<nav class="flex justify-between items-center px-20 min-h-16  bg-zinc-200 max-md:px-10 max-md:flex-col max-md:justify-center max-md:items-start ">
  <div class="flex items-center justify-between w-full">
    <a
      href="#"
      class="text-purple-700 font-semibold hover:text-purple-800 text-lg"
    >
      Todo App
    </a>
    <button class="w-5 h-5 hidden max-md:inline-block" id="nav-toggler">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>
    </button>
  </div>
  <ul class="flex items-center gap-2 max-md:h-0 overflow-hidden" >
    <li class="font-medium text-zinc-700 hover:text-zinc-800">
      <a href="/" class="">Home</a>
    </li>
    <li class="font-medium text-zinc-700 hover:text-zinc-800">
      <a href="/about" class="">About</a>
    </li>
    <li class=" border-2 rounded-3xl hover:border-zinc-50">
      <form role="search" class="flex items-center gap-1 bg-zinc-300 border-zinc-400 border-2 px-3 rounded-3xl">
        <input type="search" name="search" id="search" class="bg-transparent px-2 py-1 outline-none placeholder:text-sm" placeholder="Search for a task"/>
        <button type="submit" id="searchBtn">
          <img src="/svg/search.svg" alt="search" class="w-4 cursor-pointer" />
        </button>
      </form>
    </li>
    <li
      class="font-medium px-3 py-1 bg-purple-700 rounded-md text-zinc-100 hover:bg-purple-800"
    >
      <a href="/logout">Logout</a>
    </li>
  </ul>

</nav>
<script>
  const navCollapse = document.querySelector('#nav-collapse');
  const nav = document.querySelector('nav');
  const navToggler = document.querySelector('#nav-toggler');

  navToggler.addEventListener('click', () =>{
    navCollapse.classList.remove('max-md:h-0')
    navCollapse.classList.add('max-md:h-56')
    nav.classList.remove('max-md:justify-center')
    // nav.classList.add('max-md:justify-between')
  });
</script>